
/*
	Luv Deficit Disorder palette:
	Butter:		#f0e4a8
	Dusky Peach:	#deae66
	Rock-A-Hula:	#e6683e
	Arabian Cocoa:	#876240
	Hideous Green:	#77996e
*/

body {
	background-color:	#f0e4a8;
	color:			#876240;
	margin:			0px;
	font-family:		Tahoma, Geneva;
}

body * {
	font-family:		Tahoma, Geneva;
	font-size:		12px;
}

table.title {
	width:			100%;
	background-color:	#876240;
	color:			#f0e4a8;
	margin:			0px;
	padding:		0px;
	border-spacing:		0px;
	font-size:		10px;
}

td.title_logo {
	width:			189px;
	height:			37px;
	padding:		0px;
	margin:			0px;
	text-align:		left;
}

td.title_logo a {
	margin:			0px;
	padding:		0px;
}

td.title_logo img {
	border:			0px;
	margin:			0px;
	padding:		0px;
	vertical-align:		middle;
}

td.title_sourceforge {
	width:			125px;
	height:			37px;
	padding:		0px;
	margin:			0px;
	text-align:		right;
}

td.title_sourceforge a {
	margin:			0px;
	padding:		0px;
}

td.title_sourceforge img {
	border:			0px;
	margin:			0px;
	padding:		0px;
	vertical-align:		middle;
}

table.menu {
	width:			100%;
	background-color:	#deae66;
	border-spacing:		0px;
	margin-bottom:		30px;
}

td.menu {
	width:			150px;
	text-align:		center;
	padding:		2px;
}

td.menu:hover {
	background-color:	#e6683e;
}

td.menu_last {
}

td.menu a {
	display:		block;
	width:			150px;
	color:			#876240;
	text-decoration:	none;
}


img.corner_image {
	float:			right;
}

h1 {
	margin-left:		20px;
	font-size:		14px;
	color:			#e6683e;

}

p {
	margin-left:		20px;
}

ul {
	list-style-image:	url('../images/item_disk.gif');
}

a {
	color:			#e6683e;
	text-decoration:	none;
}

code {
	display:		block;
	background-color:	#77996e;
	color:			#f0e4a8;
	font-family:		Lucida Console, Monaco, monospace;
	margin-left:		20px;
	margin-right:		20px;
	margin-top:		40px;
	padding:		10px;
}

div.figure {
	float:			center;
}
div.figure p {
	text-align:		center;
	font-size:		10px;
	text-indent:		0px;
	color:			#e6683e;
}

